.git/
.gitignore
.gtm/
.idea/
.travis.yml
*.md

cmd/agentctl/agentctl
cmd/vpp-agent/vpp-agent

docker/dev/build.sh
docker/prod/build.sh

tests/perf/grpc-perf/grpc-perf
**/*.test
reports/

/docs/
/examples/
/k8s/
/report/
/vpp/
