# Gopkg.toml
#
# Refer to https://github.com/golang/dep/blob/master/docs/Gopkg.toml.md
# for detailed Gopkg.toml documentation.

required = [
    "git.fd.io/govpp.git/cmd/binapi-generator",
    "github.com/ungerik/pkgreflect",
    "github.com/gogo/protobuf/protoc-gen-gogo"
]

[[constraint]]
  name = "github.com/ligato/cn-infra"
  revision = "98e10610edaf49aa2ca14c97302bc252cd6fdb63"

[[constraint]]
  name =  "git.fd.io/govpp.git"
  revision = "0ed38dbb620ef88a2007179265f37742ee46c305"
  source = "github.com/ligato/govpp"

[[constraint]]
  branch = "master"
  name = "github.com/buger/goterm"

[[constraint]]
  name = "github.com/fsouza/go-dockerclient"
  revision = "9e921e30db8bcc1221fa0485ad9ce5b195fb4445"

[[constraint]]
  name = "github.com/ghodss/yaml"
  version = "1.0.0"

[[constraint]]
  name = "github.com/go-errors/errors"
  version = "v1.0.1"

[[constraint]]
  name = "github.com/gogo/protobuf"
  version = "0.5.0"

[[constraint]]
  branch = "master"
  name = "github.com/golang/protobuf"

[[constraint]]
  branch = "master"
  name = "github.com/logrusorgru/aurora.git"

[[constraint]]
  name = "github.com/namsral/flag"
  version = "1.7.4-pre"

[[constraint]]
  name = "github.com/onsi/gomega"
  version = "1.3.0"

[[constraint]]
  name = "github.com/sirupsen/logrus"
  version = "1.0.4"

[[constraint]]
  name = "github.com/spf13/cobra"
  version = "0.0.1"

[[constraint]]
  branch = "master"
  name = "github.com/unrolled/render"

[[constraint]]
  branch = "master"
  name = "github.com/vishvananda/netlink"

[[constraint]]
  branch = "master"
  name = "github.com/vishvananda/netns"

[[constraint]]
  branch = "master"
  name = "golang.org/x/net"

[[constraint]]
  name = "google.golang.org/grpc"
  version = "1.2.1"

[prune]
  go-tests = true
  unused-packages = true

  [[prune.project]]
    name = "github.com/ligato/cn-infra"
    unused-packages = false
