# Gopkg.toml example
#
# Refer to https://github.com/golang/dep/blob/master/docs/Gopkg.toml.md
# for detailed Gopkg.toml documentation.
#
# required = ["github.com/user/thing/cmd/thing"]
# ignored = ["github.com/user/project/pkgX", "bitbucket.org/user/project/pkgA/pkgY"]
#
# [[constraint]]
#   name = "github.com/user/project"
#   version = "1.0.0"
#
# [[constraint]]
#   name = "github.com/user/project2"
#   branch = "dev"
#   source = "github.com/myfork/project2"
#
# [[override]]
#   name = "github.com/x/y"
#   version = "2.4.0"
#
# [prune]
#   non-go = false
#   go-tests = true
#   unused-packages = true

required = [
    "git.fd.io/govpp.git/cmd/binapi-generator",
    "github.com/ungerik/pkgreflect",
    "github.com/gogo/protobuf/protoc-gen-gogo"
]

[[constraint]]
  name = "git.fd.io/govpp.git"
  revision = "f1bef4a3c66f4408afdeb64cda62ccd8562d0fc6"

[[constraint]]
  name = "github.com/ligato/cn-infra"
  revision = "52432e9cff91cd15e5cd0001be7e1034253adf0a"

[[constraint]]
  branch = "master"
  name = "github.com/buger/goterm"

[[constraint]]
  name = "github.com/fsouza/go-dockerclient"
  revision = "9e921e30db8bcc1221fa0485ad9ce5b195fb4445"

[[constraint]]
  name = "github.com/ghodss/yaml"
  version = "1.0.0"

[[constraint]]
  name = "github.com/gogo/protobuf"
  version = "0.5.0"

[[constraint]]
  branch = "master"
  name = "github.com/golang/protobuf"

[[constraint]]
  name = "github.com/gorilla/mux"
  version = "1.6.1"

[[constraint]]
  branch = "master"
  name = "github.com/logrusorgru/aurora.git"

[[constraint]]
  name = "github.com/namsral/flag"
  version = "1.7.4-pre"

[[constraint]]
  name = "github.com/onsi/gomega"
  version = "1.3.0"

[[constraint]]
  name = "github.com/sirupsen/logrus"
  version = "1.0.4"

[[constraint]]
  name = "github.com/spf13/cobra"
  version = "0.0.1"

[[constraint]]
  branch = "master"
  name = "github.com/unrolled/render"

[[constraint]]
  branch = "master"
  name = "github.com/vishvananda/netlink"

[[constraint]]
  branch = "master"
  name = "github.com/vishvananda/netns"

[[constraint]]
  branch = "master"
  name = "golang.org/x/net"

[[constraint]]
  name = "google.golang.org/grpc"
  version = "1.2.1"

[prune]
  go-tests = true
  unused-packages = true
