<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index</title>
</head>
<body>
<h2>Index:</h2>
<ul>
{{range $name, $url := .}}
    <li>
        <a href="{{$url}}">{{$name}}</a>
    </li>
{{end}}
</ul>
</body>
</html>
